apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-argo
  namespace: argocd
spec:
  parentRefs:
    - name: gateway
      namespace: envoy
  hostnames:
    - argo.gunhildsbu.no
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: argocd-server
      namespace: argocd
      port: 80