apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-argo
  namespace: argocd
spec:
  parentRefs:
    - name: gateway
      namespace: envoy
  hostnames:
    - argo.gunhildsbu.no
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: argocd-server
      namespace: argocd
      port: 443
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: argocd-tls
  namespace: argocd
spec:
  targetRefs:
  - group: ""
    kind: Service
    name: argocd-server
  tls:
    alpnProtocols:
    - http/1.1
    - h2
    clientCertificateRef: null